#AnimatedDorficWaveGraphic {
  .rectangle-ref,
  .rectangle-ref-2,
  .ring-inner,
  .ring-incomplete-inner,
  .ring-outer {
    fill: none;
  }

  .rectangle-ref-2,
  .rectangle-ref-3,
  .rectangle-ref-4 {
    opacity: 0;
  }

  .ring-inner {
    stroke: #ffe1a6;
  }

  .ring-inner,
  .ring-incomplete-inner,
  .ring-outer {
    stroke-miterlimit: 10;
  }

  .ring-inner,
  .ring-outer {
    stroke-width: 4px;
  }

  .chain-outer {
    fill: #ffd321;
  }

  .module {
    fill: #fff1ba;
  }

  .ring-incomplete-inner {
    stroke: url(#Degradado_sin_nombre_1663);
    stroke-width: 30px;
  }

  .ring-stepped {
    fill: url(#Degradado_sin_nombre_1610);
  }

  .rectangle-ref-3 {
    fill: url(#Degradado_sin_nombre_1038);
  }

  .nucleus {
    fill: url(#Degradado_sin_nombre_1610-3);
  }

  .filled-modules {
    fill: url(#Degradado_sin_nombre_1610-2);
  }

  .ring-outer {
    stroke: #fff1ba;
  }
  /* ------------------ */
  .rotate-animation {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    animation-name: antiClockwiseRotation;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .rotate-anticlockwise-antimation {
    animation-direction: reverse;
  }

  #chain-inner {
    animation-duration: 50s;
  }
  #group-ring-stepped {
    animation-duration: 160s;
  }
  #group-ring-incomplete-outer {
    animation-duration: 30s;
  }
  #group-ring-incomplete-inner {
    animation-duration: 35s;
  }
  #group-chain-incomplete {
    animation-duration: 20s;
  }

  @keyframes antiClockwiseRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
