.navbar__wrapper {
  position: sticky;
  top: 0;
  height: 6.625em;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  z-index: 1;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 65ch;
  width: 100%;
}

.navbar {
  padding-left: 3em;
  padding-right: 1.5em;
}

.navbar,
.navbar__spacebar {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: lightblue;
}

.navbar__spacebar {
  min-width: calc(calc(100% - 65ch) / 2);
}
