@import url("../../_styles/utils.css");
@import url("../../_styles/breakpoints.css");
:root {
  --navbar-box-shadow-color: rgba(0, 0, 0, 0.09);
}

.navbar__wrapper {
  position: sticky;
  top: 0;
  padding-top: 2.0625em;
  padding-bottom: 2.0625em;

  width: 100%;
  z-index: 1;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
}

.navbar__content {
  min-width: calc(var(--main-content-width) - 2ch);
  width: 100%;
}

.navbar {
  gap: 1.5em;
  padding-left: 3em;
  padding-right: 1.5em;
  box-shadow: inset 10px -14px 13px -10px var(--navbar-box-shadow-color);
  min-width: fit-content;
  @mixin border-radius;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar > * {
  z-index: 1;
}

.navbar__wrapper,
.navbar__content,
.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar__wrapper--top {
  align-items: start;
}

.navbar,
.navbar__spacebar {
  overflow: hidden;
  position: relative;
  font-size: 0.875em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.navbar--white .navbar,
.navbar--white .navbar__spacebar {
  background: linear-gradient(to bottom, #fff 0%, #dbdbdb 84%, #d7d7d7 100%);
}
.navbar::before,
.navbar__spacebar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  mix-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar__spacebar {
  box-shadow: inset -10px -14px 13px -10px var(--navbar-box-shadow-color);
  min-width: calc(
    calc(
        100% - calc(calc(var(--main-content-width) - 2ch) * calc(1em / 0.875em))
      ) /
      2
  );
}
.navbar__header,
.navbar__interaction-section {
  display: none;
}

.navbar__link {
  display: inline;
}
@media (--not-desktop) {
  .navbar__interaction-section,
  .navbar__header {
    display: initial;
  }

  .navbar__spacebar,
  .navbar__vertical-separator {
    display: none;
  }
  .navbar,
  .navbar__wrapper,
  .navbar__content {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }
  .navbar--white .navbar,
  .navbar--white .navbar__spacebar {
    background: none;
  }
  .navbar::before,
  .navbar__spacebar::before {
    display: none;
  }
  .navbar > *,
  .navbar__wrapper {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  .navbar__wrapper {
    position: sticky;
  }
  #navbar-menu-mask {
    z-index: -1;
  }
  .navbar__content {
    align-items: center;
    top: 0;
    padding-top: 3.75em;
    padding-bottom: 15em;
    position: fixed;
    gap: 0.625em;
    background: linear-gradient(
      to bottom,
      rgba(243, 217, 17, 1) 0%,
      rgba(233, 154, 33, 1) 50%,
      rgba(222, 99, 50, 0.95) 90%,
      rgba(222, 99, 50, 0.8) 95%,
      rgba(0, 0, 0, 0.2) 95%,
      rgba(0, 0, 0, 0) 100%
    );
    mask: url("/vectors/simple-circle.svg");
    mask-position: -60% 168%;
    mask-size: 200%;
    /*         mask-position: 50% 80%;
         */
    mask-repeat: no-repeat;
  }

  .navbar__header {
    box-sizing: border-box;
    max-width: var(--main-content-width);
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar__heading {
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 3em;
    width: 100%;
    max-width: var(--main-content-width);
  }
  .navbar {
    width: 100%;
    box-shadow: none;
    padding: 1.125em 0;
    border-radius: 0;
    gap: 0.625em;
    overflow: visible;
  }

  .navbar > * {
    font-size: 1.25em;

    position: relative;
  }
  .navbar__link {
    background: linear-gradient(to bottom, #fff 0%, #dbdbdb 84%, #d7d7d7 100%);
    background-color: #d7d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.16);
  }
  .navbar__link > * {
    box-sizing: border-box;
    padding: 0 38px;
    max-width: 69ch;
    width: 100%;
    display: block;
    filter: none;
  }
  .navbar > *::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    mix-blend-mode: screen;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .navbar__interaction-section {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 10px;
  }
  .navbar__menu-button {
    position: relative;
  }
  .navbar__menu-mask-shape {
    user-select: none;
    top: 50%;
    right: 22px;
    position: absolute;
    transform: translate(50%, -50%) scale(0.1);
  }
  /* .navbar__menu-mask-shape {
    transform: translate(15%, -116%) scale(2.3);
  } */
}
