@import url("../_styles/utils.css");
@layer layout {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    perspective: 1200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    max-width: var(--main-content-width);
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    transform-style: preserve-3d;
  }
  .container > * {
    width: 100%;
  }
  .space {
    height: 50em;
  }
}
