@import url("../_styles/utils.css");
@layer layout {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    perspective: 1200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    max-width: var(--main-content-width);
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    transform-style: preserve-3d;
  }
  .container > * {
    width: 100%;
  }
  .container > *:not(.bg-wrapper) {
    transform-style: flat;
    z-index: 10000;
  }
  .bg-wrapper {
    transform-style: preserve-3d;

    top: -106px;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
  }
  .parallax-bg {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    top: 0px;
    z-index: -1;
    transform: translateZ(-12000px) scale(11);
  }
  .bg__grid {
    position: relative;
    background-image: url("vectors/grid_dorfic_for_mirror.svg");
    background-size: 1000px 1000px;

    width: 1500px;
    height: 1500px;
    opacity: 0.6;
    transform: translateX(-912px) translateY(1900px) translateZ(-5520px)
      rotateX(71deg) rotateY(7deg) rotateZ(8deg) scale(8);
    animation: infinite bg-grid-moving-animation 100s linear;
    -webkit-mask-image: url("vectors/bg-grid-gradient-mask.svg");
    mask-image: url("vectors/bg-grid-gradient-mask.svg");

    -webkit-mask-mode: luminance;
    mask-mode: luminance;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  @keyframes bg-grid-moving-animation {
    from {
      background-position-x: 100%;
      background-position-y: 100%;
    }
    to {
      background-position-x: 0%;
      background-position-y: 0%;
    }
  }
}
