@import url("../_styles/utils.css");
@layer layout {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    perspective: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    max-width: var(--main-content-width);
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    transform-style: preserve-3d;
  }
  .container > * {
    width: 100%;
  }
  .parallax-bg {
    display: block;
    position: absolute;
    width: 100vw;
    height: calc(100% + 200px);
    object-fit: cover;
    top: -200px;
    transform: translateZ(-20px) scale(2);
    z-index: -1;
  }
}
