@import "../../_styles/utils.css";
.glossy-button {
  position: relative;
  color: white;
  font-size: 1em;
  font-weight: 600;
  background: linear-gradient(to bottom, #f3d911 0%, #e99a21 69%, #de6332 100%);
  padding: 12px 26px;
  cursor: pointer;
  box-shadow:
    inset 0 0px 0px 0px rgba(0, 0, 0, 0),
    inset 0 0 9.3px 0 rgba(255, 255, 255, 0.12),
    0 4px 7.8px 2px rgba(109, 86, 61, 0.32);
  transition:
    box-shadow 40ms ease,
    transform 200ms cubic-bezier(0.06, 1.6, 0.51, 1.01);
  @mixin border-radius;
}

.glossy-button:hover {
  transform: scale(1.1);
}
.glossy-button:focus-visible {
  outline-width: 3px;
  outline-offset: 4px;
  outline-style: solid;
  outline-color: rgba(55, 140, 251, 1);
  animation-name: outlineHover;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes outlineHover {
  from {
    outline-color: rgba(55, 140, 251, 1);
  }
  to {
    outline-color: rgba(55, 140, 251, 0.1);
  }
}

.glossy-button:active {
  color: #f0dca8;
  box-shadow:
    inset 0 0px 6px 7px rgba(0, 0, 0, 0.26),
    inset 0 0 9.3px 5px rgba(255, 255, 255, 0.12),
    0 2px 3px 2px rgba(109, 86, 61, 0.32);
}

.glossy-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  opacity: 0;
  mix-blend-mode: lighten;
  transition: opacity 70ms cubic-bezier(0.23, 0, 0.01, 0.97);
  pointer-events: none;
  @mixin border-radius;
}

.glossy-button:active::before {
  background: #452810;
  mix-blend-mode: darken;
  opacity: 0.2;
}
.glossy-button:hover::before {
  opacity: 0.2;
}
.glossy-button::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* grosor del borde */
  border-radius: inherit;

  background: linear-gradient(to bottom, #fff, rgba(200, 182, 102, 0.175));
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  @mixin border-radius;
}
.glossy-button:active::after {
  background: linear-gradient(to bottom, #fff, #b5b5b5);
}
.glossy-button__content {
  display: block;
  mix-blend-mode: luminosity;
  transition: transform 50ms ease;
  transform: scale(1);
  @mixin text-shadow;
}
.glossy-button:active > .glossy-button__content {
  transform: scale(0.96);
}

.glossy-button__gloss {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  mix-blend-mode: screen;
  transition: opacity 40ms ease;
}

.glossy-button:active .glossy-button__gloss {
  opacity: 0.3;
}

.glossy-button--yt {
  background: linear-gradient(to bottom, #f31111 0%, #e92121 69%, #9e2121 100%);
}
.glossy-button--tiktok {
  background: linear-gradient(to bottom, #494949 0%, #3f3f3f 63%, #1a1a1a 100%);
}
.glossy-button--blue {
  background: linear-gradient(to bottom, #3898d3 0%, #3670c2 63%, #0d2c75 100%);
}
.glossy-button--ig {
  background: url("img/instagram-background-button.webp");
  background-size: cover;
  box-shadow:
    inset 0 -3px 9.2px 0px rgba(0, 0, 0, 0.21),
    inset 0 0 9.3px 0 rgba(255, 255, 255, 0.12),
    0 4px 7.8px 2px rgba(109, 86, 61, 0.32);
}
