@import url("../../assets/fonts/Otomo/css/otomo.css");
@layer typography {
  .title {
    font-family: "Otomo W00 Round";
  }
  h1.title {
    font-size: 3em;
  }
  h2.title {
    position: relative;
    font-size: 2em;
    text-shadow: 0 3px 8.4px rgba(0, 0, 0, 0.25);
  }
}
