@import "./assets/fonts/Switzer/css/switzer.css";
@import "./_styles/utils.css";

@layer base {
  * {
    box-sizing: border-box;
  }
  body,
  div#root {
    margin: 0;
    min-height: 100vh;
  }
  body {
    background-image: url("/img/dorfic2.webp");
    background-size: cover;
  }
}

@layer typography {
  html {
    font-family: "Switzer-Variable";
    color: white;
  }
  p {
    @mixin text-shadow;
  }
}

@layer styling {
  img {
    @mixin img;

    position: relative;
  }
}
